<a href="https://colab.research.google.com/github/eyalzing/ML1_IAP/blob/master/Yoav_Ganzach_SAS_residuals_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install sas7bdat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sas7bdat
  Downloading sas7bdat-2.2.3.tar.gz (16 kB)
Requirement already satisfied: six>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from sas7bdat) (1.15.0)
Building wheels for collected packages: sas7bdat
  Building wheel for sas7bdat (setup.py) ... done
  Created wheel for sas7bdat: filename=sas7bdat-2.2.3-py3-none-any.whl size=16309 sha256=aafd896ebce2bbe640b7f16af6fcd14bdb51469a15ff4a99bed9bdce023d8e3c
  Stored in directory: /root/.cache/pip/wheels/69/dd/ca/1fd7bf96640d87457056b763e015e20d8e566041bd3273d966
Successfully built sas7bdat
Installing collected packages: sas7bdat
Successfully installed sas7bdat-2.2.3

In [8]:
#!python
from sas7bdat import SAS7BDAT
with SAS7BDAT('mall.sas7bdat', skip_header=False) as reader:
  df = reader.to_data_frame()

In [9]:
df.head()

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,MALL,r
0,0.879129,1.264443,0.193559,-0.017278,-0.294170,-0.764328,-0.225126,-0.953145,-0.693299,-0.039974,1.063175,0.378442,0.091167
1,0.879129,0.140697,0.958530,0.293946,-1.542137,0.299081,-0.225126,-0.420192,-0.322650,-0.410722,0.895812,-1.064473,-0.743164
2,-0.102410,-0.084053,0.412122,-1.137685,0.102910,-0.273524,0.612530,-0.953145,-0.013776,-0.287140,0.226359,-0.643623,-0.370106
3,-0.102410,1.039694,-1.227102,1.725578,1.067248,1.607891,0.361233,1.356315,1.468820,1.504810,0.644767,0.979656,0.021495
4,-0.102410,0.140697,-0.789975,0.605170,2.031586,0.626283,1.366421,-1.219621,0.295099,-0.534305,-1.028867,-0.242813,0.624058

In [11]:
df.shape

(861, 13)

In [20]:
a=df.iloc[1,:11]
a.sum()

0.5463664925156533